@import "../global.css";

main {
	height: 100dvh;
}

article.wrapper {
    width: 600px;
    padding: 2rem;
    margin-top: -10vh;

    background-color: var(--white-1);
    border: 3px solid var(--gray-8);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow);
    opacity: 0.94;
}

form {
    margin: 1rem;
	padding: 1rem;
	font-weight: 600;
	font-size: 1.5rem;
}

legend {
    display: block;
	font-size: 1.6rem;
    margin-bottom: 1rem;
	font-weight: 600;
 
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

label {
	display: block;
	margin-bottom: 0.4rem;
	font-size: 1rem;
	font-weight: 700;
	align-self: baseline;
    letter-spacing: 1px;
}

input {
    display: block;
    width: 99%;
	height: 50px;
    margin-bottom: 0.7rem;
	padding-left: 1em;

    color: var(--gray-3);
	border: 1px solid var(--gray-8);
	border-radius: 8px;

	font-size: 1.2rem;
    outline: none;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:focus {
		border: 1px solid var(--gray-4);
        background-color: var(--white-1);
	}

	&::placeholder {
		color: var(--gray-6);
	}
    &:required {
        border-width: 1px;
    }
    &:required:invalid {
        border-color: var(--theme-accent-2)
    }
    &:required:valid {
        border-color: var(--gray-5)
    }
}

input[type="submit"] {
	width: 100%;

    margin-top: 2rem;
	padding: 10px;

	font-size: 1.2rem;
	font-weight: 600;

	outline: none;
    border: none;

	color: var(--white-0);
	background-color: var(--theme-accent-2);
	opacity: 0.9;

	transition: scale 0.2s ease-in-out;
	&:hover {
		scale: 1.02;
		cursor: pointer;
	}
}

#welcome {
    display: none;
    text-align: center;
    color: var(--gray-3);
}

#bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
   
    background-image: url(../../public/full-res/image_0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

@media (width <= 680px) {
	article.wrapper {
		padding: 0;
		max-width: 90vw;
        margin-top: 0vh;
	}
}

@media (681px <= width <= 1124px) {
	article.wrapper {
        max-width: 550px;
        padding: 1rem;
	}
}
