article.create {
	display: grid;
	grid-template-rows: repeat(5, fit-content);
}

select {
    color: white;
    background-color: var(--gray-3);
    border: 1px solid var(--gray-6);
    border-radius: 4px;
    padding: 0.3rem 0.5rem;

    &:focus {
        border: 1px solid var(--gray-9);
    }
}

.control {
	--border-radius: 4px;
	--option-height: 40px;

	display: grid;
	grid-template-columns: 1fr 5fr;

	.col-1 {
		grid-column: 1;
	}

	.col-2 {
		grid-column: 2;
	}

	.col-3 {
		grid-column: 3;
	}

	&.hide {
		display: none;
	}

	background-color: var(--gray-9);
	padding: 1rem;

	& .required {
		margin-top: 0.7rem;
	}

	& [type="text"] {
		width: 100%;
		height: var(--option-height);
		border-radius: var(--border-radius);
	}

	& [type="checkbox"],
	[type="radio"] {
		width: 18px;
		height: 18px;
		margin: 4px;
		padding: 4px;
	}

	& [type="submit"],
	[type="button"],
	[type="reset"] {
		width: 100px;
		height: var(--option-height);
	}

	& label {
		margin-left: 0.3rem;
		font-size: 1rem;
		margin-top: 0.6rem;
	}

	& [placeholder] {
		font-size: 1rem;
	}

	& [readonly] {
		opacity: 0.5;
		cursor: not-allowed;
	}

	& .m-container {
		display: block;

		& #m-options {
			margin-top: 1rem;
		}

		& .grid-container {
			display: grid;
			grid-template-columns: 8fr 1fr 1fr;
			gap: 0.4rem;

			margin-top: 2rem;
			margin: 0.5rem 0;

			height: var(--option-height);

			& .col-2 {
				grid-column: 2;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid var(--gray-3);
			}

			& input[type="text"] {
				width: 100%;
			}

			& input[type="checkbox"] {
				width: 18px;
				height: 18px;
				margin: 0;
				padding: 0;
			}
		}
	}

	& .actions {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		& input {
			width: 80px;
			height: 30px;
			margin-left: 1rem;

			border: 1px solid var(--gray-3);
			border-radius: 4px;
			outline: none;

			transition: border 0.1s ease-in-out, opacity 0.5s;

			&[type="button"],
			&[type="submit"] {
				background-color: var(--gray-8);
				color: var(--gray-1);
			}

			&[type="button"]:disabled {
				border: 1px solid var(--gray-7);
				background-color: var(--gray-8);
                opacity: 0.4;
				cursor: not-allowed;
			}

			&:hover {
				cursor: pointer;
				border-left: 8px solid var(--theme-accent-2);
			}
		}
	}
}

@media (width <= 680px) {
	article.create {
		height: fit-content;
		row-gap: 0rem;
	}

	.control {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0rem;

		& .col-1 {
			display: none;
		}

		& .col-2 {
			grid-column: 1;
		}

		.grid-container {
			& .col-1 {
				display: flex;
			}
		}
	}
}

@media (hover: none) {
	.control {
		& .actions {
			& input {
				border-left: 8px solid var(--theme-accent-2);
			}
		}
	}
}

@media (681px <= width <= 1124px) {
}
