
article.create {
	display: grid;
	grid-template-rows: repeat(5, fit-content);
    row-gap: 0.7rem;
}

.control {

    --border-radius: 4px;
    --option-height: 40px;

    display: none;

    &.show{
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

    background-color: var(--gray-8);
    border-left: 4px solid var(--theme-accent-2);
    padding: 1rem;

	& h4 {
		grid-column: 1;
		margin-bottom: 0.5rem;
		padding: 0;
	}

    & i {
       font-size: 0.8rem;
       color: var(--gray-5);
       margin: 1.5rem 0.5rem;
    }

	& [type="text"] {
		grid-column: 2;
		width: 100%;
		height: var(--option-height);
        border-radius: var(--border-radius)
	}

    & [type="checkbox"], [type="radio"] {
        grid-column: 2;
        width: 18px;
        height: 18px;
        margin: 4px;
        padding: 4px;
    }

    & [type="submit"], [type="button"], [type="reset"] {
        width: 100px;
        height: var(--option-height);
    }

	& label {
        margin-left: 0.3rem;
		font-size: 1rem;
		margin-top: 0.6rem;
	}

	& [placeholder]{
		font-size: 1rem;
	}

    & .multiple-options-container {
        display: block;

        & #multiple-options {
           margin-top: 1rem;
        }
  
        & .grid-container {
            display: grid;
            grid-template-columns: 8fr 1fr 1fr;
            gap: 0.4rem;

            margin-top: 2rem;
            margin: 0.5rem 0;

            height: var(--option-height);

            & .c1 {
                grid-column: 1;          
            }

            & .c2 {
                grid-column: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--gray-3)
            }

            & .c3 {
                grid-column: 3;
            }

            & input[type="text"] {
                width: 100%;
               
            }

            & input[type="checkbox"] {
                width: 18px;
                height: 18px;
                margin: 0;
                padding: 0;
            }
        }
    }

  
}




